// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


@import "bootstrap/functions";

$custom-file-text: (
    en: "Browse",
    es: "Elegir"
);


// Bootstrap
@import '~bootstrap/scss/bootstrap';